<%= controller.parent_views_for(:ajax_crud_sortable) { render :partial => "nav_links" } %>
<%= internal_link 'Change order', {:url => {:action => 'sortable', :params => {:sort => true}}, :safe => true}, {:class => 'action'} %>
