<div id="<%= public_id %>_nav" class="nav">
  
  <%= render :partial => 'info' %>
  
  <% if controller.ajax_crud_options[:child] %>
    <div class="nav_links"><%= render :partial => 'nav_child' %></div>
  <% end %>
    
  <div id="<%= public_id %>_nav_links" class="nav_links">
    <%= render :partial => 'nav_links' %>
  </div>
  
</div>
