<% if controller.child_controller %>
  <strong><%= controller.model_name.pluralize.titleize %></strong> &nbsp;
  <%= cancel_action 'Close', :action => 'index' %>
<% end %>
<%= open_action 'New ' + controller.model_name, :action => 'edit', :id => 'new' %>