<div class="form">

  <%= render :partial => 'summary', :locals => {:model => model} %>

  <% unless params[:in_panel] %>
    <div class="no_label field">
      <%= close_action_link 'Done' %>
    </div>
  <% end %>
</div>