<% form_for_action :action => 'update', :id => model.id, :method => :put do |form| %>

  <%= render :partial => 'form', :locals => {:model => model, :form => form} %>

  <div class="field no_label">
    <%= submit_tag 'Save changes' %>
    <% unless params[:in_panel] %><%= close_action_link 'Cancel', :action => 'edit' %><% end %>
  </div>

<% end %>
