<strong><%= controller.model_name.pluralize.titleize %></strong> &nbsp;
Drag the <%= controller.model_name.pluralize %> into the desired order &nbsp;
<%= internal_link 'Done', {:url => {:action => 'sortable', :sort => false}}, {:class => 'action'} %>
